[submodule "VTSLuaController/webSocket"]
	path = VTSLuaController/webSocket
	url = https://github.com/Ganeesya/VTS-Sharp.git
[submodule "VTSPentabPlugin/websocket"]
	path = VTSPentabPlugin/websocket
	url = https://github.com/Ganeesya/VTS-Sharp.git
